apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: ext-ip
  namespace: metallb-system
spec:
  addresses:
  - "{{external_ip}}"

---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: l2-advert
  namespace: metallb-system
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: pool1-advert
  namespace: metallb-system
spec:
  ipAddressPools:
  - ext-ip